html, body{
  height:100%;
  margin:0;
}

.main-content{
  flex:1;
}

section {
  margin-bottom: 5rem; /* adds space after each section */
  margin-top: 5rem; /* adds space before each section */
  padding: 1rem; /* adds padding inside each section */
}

/* Navbars */
.first-navbar {
  background-color: #d0a5dd;
}

.second-navbar {
  display: flex;
}

/* Logo */
.second-navbar .navbar-brand img:first-child {
  width: 8vw;
  min-width: 50px;
  max-width: 80px;
  height: auto;
}
/* Brand Name */
.second-navbar .navbar-brand img:last-child{
  width: 36vw;
  min-width: 90px;
  max-width: 360px;
  height: auto;
}

/* User & Cart */
.second-navbar .nav-link img{
  width: 5vw;
  min-width: 5px;
  max-width: 40px;
}

.cart-icon{
  position: relative;
}

.cart-count{
  position: absolute;
  left: 70%;
  top: 5%;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background-color: #7d3396;
  color: white;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.third-navbar {
  background-color: #fcf0ff;
  height: auto;
  font-size: auto;
  gap: auto;
  margin-bottom: 4rem;
}

.third-navbar-links {
  margin: auto; /* Center the links */
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #545454;
  display: flex;
  gap: 4rem;
}

.ai-analysis {
  margin-top: 4rem;
  margin-bottom: 4rem;
  position:relative;  /* Needed for absolute positioning of .buttons */
  justify-content: center;
  align-items: center;
}

.buttons{
  position:absolute;
  top: 95%;
  left:50%;
  width: 70%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #d0a5dd;
  color: white;
  border: none;
  padding: 0.75rem;
}

.buttons:hover{
  background-color: #b374c8;
}

.shop-heading{
  margin-bottom: 4rem;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #545454;
  font-size: 3rem;
}

.shop-products{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: #545454;
  padding: 1rem;
}

.shop-buttons{
  font-size: 1rem;
  font-weight: 600;
  background-color: none;
  border-color: #d0a5dd;
  padding: 0.5rem;
  color: #b374c8;
}

.shop-buttons:hover{
  background-color: #b374c8;
  border:none;
}

.image-overlay-container {
  position: relative; /* Needed for absolute positioning of button */
  display: inline-block;
}

.why-us{
  margin-bottom: 4rem;
  font-family: "Montserrat", sans-serif;
  color: #545454;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
}

.why-para{
  font-family: "Montserrat", sans-serif;
  color: #545454;
  font-size: 1.2rem;
  text-align: center;
}

.skincare-basics{
  margin-bottom: 4rem;
  font-family: "Montserrat", sans-serif;
  color: #545454;
  font-size: 4rem;
  font-weight: 400;
}

.footer-text{
  font-family: "Montserrat", sans-serif;
  color: #545454;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
}

.footer-text .nav-link{
  color: #b374c8;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;

}

.footer-navbar {
  background-color: #fcf0ff;
  height: auto;
  font-size: auto;
  gap: auto;
  margin-bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #d0a5dd;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.go-to-top:hover {
  background-color: #b57bc0;
}

.analysis-page{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #545454;
  margin-left: 5rem;
}

.analysis-page button{
  background-color: #d0a5dd;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  margin: auto;
}

.analysis-page button:hover {
  background-color: #7d3396;
}

.analysis-result{
  height: auto;
  width: 100%;
  align-items: center;
  display:flex;
  flex: 1;
  color:#545454;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding: 1rem;
  margin: auto;
}

.selected-image{
  height: auto;
  width: 70%;
  margin-top: 10%;
}

.analysis-result button{
  background-color: #d0a5dd;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  margin: auto;
}

.analysis-result button:hover{
  background-color: #7d3396;
}

.shop-page-cards{
  height:100%;
  text-align: center;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
  margin-bottom: auto;
}

.shop-page-cards .card-body{
  display:flex;
  flex-direction: column;
}

.shop-page-buttons{
  font-size: 1rem;
  font-weight: 600;
  background-color: #d0a5dd;
  border: #d0a5dd;
  color: white;
  width: 100%;
  margin-top: auto;
}

.shop-page-buttons:hover{
  background-color: #7d3396;
  border: none;
}

.shop-page-navbar{
  font-size: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
}

.shop-page-navbar-buttons{
  margin: auto;
  font-size: 1.5rem;
  font-weight: 800;
  background-color: white;
  border: 2px solid #d0a5dd;
  padding: 1rem;
  color: #d0a5dd;
  margin-bottom: 1rem;
}

.shop-page-navbar-buttons:hover{
  background-color: #d0a5dd;
  border: none;
}

/* Active state */
.shop-page-navbar-buttons.active {
  background-color: #b374c8;
  border: none;
  color: white;
}

.shop-page-cards .card-title{
  color:#7d3396;
  margin-top: auto;
}

.shop-page-cards .card-subtitle{
  text-align: justify;
  margin-top: auto;
  color: #7d3396;
}

.shop-page-cards .card-text{
  text-align: left;
  color: grey;
  margin-top: auto;
}

.cards-row{
  margin-bottom: 5rem;
}

.checkout-page{
  margin: 2rem;
  align-items: center;
  display:flex;
  flex-direction: column;
}

.checkout-product-images{
  height: 8rem;
}

.checkout-products{
  font-size: 1.5 rem;
  width: 100%;
  border: white;
  margin: 1rem;
}

.checkout-section{
  border: white;
  width: 100%;
  align-items: center;
}

.checkout-total{
  margin-top: auto;
  text-align: center;
}

.checkout-button{
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #b374c8;
  border: 2px solid #b374c8;
  color: white;
  width:100%;
}

.checkout-button:hover{
  background-color: #7d3396;
  border: 2px solid #7d3396;
  color: white;
}

.product-del-button{
  background-color: #d0a5dd;
  border: white;
  margin: 2rem;
}

.product-del-button:hover{
  background-color: #7d3396;
  border: white;
  margin: 2rem;
}

.quantity-section{
  padding: 1rem;
  margin: 1rem;
}

.quantity-change-button:hover{
  color: white;
  background-color: grey;
  border: grey;
}

.quantity-change-button:disabled{
  background-color: white;
  color: #3d3b3b;
  cursor: not-allowed;
}

.quantity-text{
  margin: 1rem;
  color: #7d3396;
}

.user-details{
  margin-left: 5rem;
  padding: 2rem;
}

.user-orders{
  margin-left: 5rem;
  padding: 2rem;
}

.questions{
  color:#545454;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding: 1rem;
  margin: auto;
}

.option-buttons{
  font-size: 1.5rem;
  color:white;
  background-color: #d0a5dd;
  border: #d0a5dd;
  font-weight: 600;
  margin: 1.5rem;
  padding: 1rem;
}

.option-buttons:hover{
  background-color: #7d3396;
}

.answer-list{
  color:#545454;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem;
  margin: auto;
}

.recommendations{
  margin: 1rem;
  border-color: rgb(225, 225, 225);
}

.recommendations-text{
  width: 95%;
  color:#545454;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding: 1rem;
  margin: auto;
}

.recommendations .col{
  display: flex;
  align-items: center;
  justify-content: center;
}

.recommendations .card-img{
  height: auto;
  width: 10rem;
}

.recommendations .card-text{
  font-size: 1rem;
}

.recommended-products{
  width: 95%;
  margin: auto;
}

.top-heading-button{
  display: flex;
  width: 95%;
  background-color: #b374c8;
  border: #b374c8;
  margin: auto;
  margin-top: auto;
  margin-bottom: 3rem;
  padding: 1rem;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 800;
}

.top-heading-button:hover{
  background-color: #b374c8;
  border: #b374c8;
}

.heading-button{
  display: flex;
  width: 95%;
  background-color: #b374c8;
  border: #b374c8;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding: 1rem;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 800;
}

.heading-button:hover{
  background-color: #b374c8;
  border: #b374c8;
}

.recommend-button{
  font-size: 1.25rem;
  color:white;
  background-color: #d0a5dd;
  border: #d0a5dd;
  font-weight: 600;
  margin: 1.25rem;
  padding: 0.75rem;
}

.recommend-button:hover{
  background-color: #7d3396;
}

.routine{
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  margin: auto;
  padding: 1rem;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.routine .card-subtitle{
  color: #7d3396;
}

.routine .card-text{
  text-align: justify;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.routine .card-img{
  height: auto;
  width: 10rem;
}


